In [7]:
import pandas as pd
#read_csv takes a csv file with user activity data for the two weeks
activityData = pd.read_csv('UAD 28-8.csv')
print(activityData)

            id  user_id                 time                     event  \
0      1084074     3562  2022-04-17 14:09:43  UD - USER DASHBOARD OPEN
1      1084075     3562  2022-04-17 14:16:06              OPEN ARTICLE
2      1084076     3562  2022-04-17 14:16:14            TRANSLATE TEXT
3      1084077     3562  2022-04-17 14:16:38            TRANSLATE TEXT
4      1084078     3562  2022-04-17 14:16:41            TRANSLATE TEXT
...        ...      ...                  ...                       ...
10480  1131481     3703  2022-06-01 13:59:03            TRANSLATE TEXT
10481  1131482     3703  2022-06-01 13:59:06            TRANSLATE TEXT
10482  1131483     3703  2022-06-01 13:59:07            TRANSLATE TEXT
10483  1131484     3703  2022-06-01 13:59:09            TRANSLATE TEXT
10484  1131485     3703  2022-06-01 13:59:42            ARTICLE CLOSED

                   value  article_id extra_data  has_article_id
0                    NaN         NaN        NaN               0
1                    NaN   1897321.0  EXTENSION               1
2                    Det   1897321.0  EXTENSION               1
3                dygtigt   1897321.0  EXTENSION               1
4                     er   1897321.0  EXTENSION               1
...                  ...         ...        ...             ...
10480  flyttet hjemmefra   1961095.0  EXTENSION               1
10481            flyttet   1961095.0  EXTENSION               1
10482   Vindstad flyttet   1961095.0  EXTENSION               1
10483            flyttet   1961095.0  EXTENSION               1
10484                NaN   1961095.0  EXTENSION               1

[10485 rows x 8 columns]

Number of unique article id's - how many article each user has opened

In [8]:
activityData.groupby(['user_id']).article_id.nunique()

user_id
3562     1
3564     5
3565     4
3567     3
3569    28
3571     4
3575     1
3576     1
3577     6
3581     2
3582     3
3583     3
3585     9
3586     1
3588     3
3589     4
3590     3
3597     7
3598     1
3599     3
3600     2
3601     1
3603     2
3606     3
3609     3
3610     1
3612     3
3615    22
3616     1
3617     3
3619     1
3627     2
3629    26
3630     1
3633     3
3634     1
3638    11
3639     3
3642     6
3651     4
3654     3
3660     2
3664     3
3684     2
3691     4
3697     7
3698     6
3700     1
3703     1
3714     4
Name: article_id, dtype: int64

How many days did people read on?

In [9]:
activityData['Date'] = pd.to_datetime(activityData['time'], utc=True)
activityData['Date'] = activityData["Date"].dt.normalize()
dayCount = activityData.groupby(["user_id"]).Date.nunique()
print(dayCount)

user_id
3562     1
3564     2
3565     4
3567     2
3569    10
3571     4
3575     4
3576     1
3577     2
3581     1
3582     3
3583     2
3585     1
3586     1
3588     1
3589     1
3590     3
3597     2
3598     1
3599     2
3600     2
3601     1
3603     1
3606     2
3609     2
3610     1
3612     1
3615     6
3616     3
3617     2
3619     1
3627     2
3629    13
3630     1
3633     1
3634     2
3638     7
3639     3
3642     8
3651     3
3654     3
3660     1
3664     2
3684     1
3691     2
3697     5
3698     4
3700     1
3703     1
3714     5
Name: Date, dtype: int64

How many people have found articles through the recommendations, and how many through other websites?

In [11]:
grouped = activityData.groupby(["article_id", "user_id"]).event.count().reset_index(name="count")
grouped = grouped.astype(int)
print(grouped)
grouped.to_csv('grouped')

     article_id  user_id  count
0       1579737     3610     40
1       1579737     3619    642
2       1835128     3571    103
3       1897321     3562     89
4       1898467     3615      4
..          ...      ...    ...
219     1973908     3697     12
220     1983005     3714      3
221     1983006     3714     25
222     1985253     3714     61
223     1998736     3714    155

[224 rows x 3 columns]

In [13]:
#takes a csv file with fetched withthe following query: SELECT id, rss_feed_id FROM article 
#WHERE rss_feed_id IS NULL;
articlesWithoutRss = pd.read_csv('rss-feed, new.csv')
articlesWithoutRss['rss_feed_id'] = articlesWithoutRss['rss_feed_id'].fillna(0)
articlesWithoutRss['uploader_id'] = articlesWithoutRss['uploader_id'].fillna(0)
joined = grouped.set_index('article_id').join(articlesWithoutRss.set_index('id'), how='left')
joined.to_csv('updated-rss-feed 28')
print(joined)

         user_id  count  rss_feed_id  uploader_id
1579737     3610     40          NaN          NaN
1579737     3619    642          NaN          NaN
1835128     3571    103          NaN          NaN
1897321     3562     89          NaN          NaN
1898467     3615      4          NaN          NaN
...          ...    ...          ...          ...
1973908     3697     12          0.0          0.0
1983005     3714      3          0.0          0.0
1983006     3714     25          0.0          0.0
1985253     3714     61          0.0          0.0
1998736     3714    155          0.0          0.0

[224 rows x 4 columns]

This data is further procesed in "Anonymized_rss_feed_found_articles.xlsx"

After the experiment: 14 people has used the extension (per August 24th 2022)

In [3]:
import pandas as pd

afterExperiment = pd.read_csv('reading-session-after-experiment.csv')
print(afterExperiment)

        id  user_id  article_id           start_time  duration  \
0    82383     3564     1931345  2022-05-10 01:47:44     36000
1    82384     3564     1931346  2022-05-10 01:51:07    170000
2    82385     3564     1931346  2022-05-10 01:54:23      3000
3    88920     3564     2018507  2022-07-15 19:20:18     46000
4    89500     3564     2028107  2022-08-04 20:27:16    323000
..     ...      ...         ...                  ...       ...
153  89468     3698     2020555  2022-07-28 11:17:44    120000
154  82331     3567     1930152  2022-05-09 08:04:05    120000
155  82333     3567     1930152  2022-05-09 08:09:51    127000
156  82506     3567     1933637  2022-05-11 15:01:00     21000
157  83626     3567     1947831  2022-05-21 20:04:56    124000

        last_action_time  is_active
0    2022-05-10 01:48:20          0
1    2022-05-10 01:53:57          0
2    2022-05-10 01:54:26          0
3    2022-07-15 19:21:04          0
4    2022-08-04 20:32:39          0
..                   ...        ...
153  2022-07-28 11:19:44          0
154  2022-05-09 08:06:05          0
155  2022-05-09 08:11:58          0
156  2022-05-11 15:01:21          0
157  2022-05-21 20:07:00          0

[158 rows x 7 columns]

On how many days have participants used the extension after the experiment until August 24th 2022?

In [5]:
afterExperiment['Date'] = pd.to_datetime(afterExperiment['start_time'], utc=True)
afterExperiment['Date'] = afterExperiment["Date"].dt.normalize()
dayCount = afterExperiment.groupby(["user_id"]).Date.nunique()
print(dayCount)
dayCount.to_csv('after-experiment day count')

user_id
3564    4
3565    1
3567    3
3569    7
3571    1
3589    2
3599    1
3601    1
3603    1
3610    1
3617    1
3627    2
3629    4
3684    1
3698    7
Name: Date, dtype: int64

Reading session data from pre-existing users

In [6]:
import pandas as pd

preExistActivity = pd.read_csv('pre-existing reading session data.csv')
print(preExistActivity)

        id  user_id  article_id           start_time  duration  \
0    79556     3524     1903233  2022-04-20 10:20:20     18000
1    79557     3524     1902146  2022-04-20 10:21:50    762000
2    79561     3524     1902146  2022-04-20 10:39:04    120000
3    79562     3524     1902146  2022-04-20 10:41:37    120000
4    80153     3524     1902146  2022-04-21 11:45:57    120000
..     ...      ...         ...                  ...       ...
115  83909     2705     1952691  2022-05-25 11:23:09    131000
116  83910     2705     1952691  2022-05-25 11:26:00      8000
117  84404     2705     1963796  2022-06-03 07:37:16     53000
118  84411     2705     1963797  2022-06-03 08:10:12    159000
119  84412     2705     1963797  2022-06-03 08:12:53    120000

        last_action_time  is_active
0    2022-04-20 10:20:38          0
1    2022-04-20 10:34:32          0
2    2022-04-20 10:41:04          0
3    2022-04-20 10:43:37          0
4    2022-04-21 11:47:57          0
..                   ...        ...
115  2022-05-25 11:25:20          0
116  2022-05-25 11:26:08          0
117  2022-06-03 07:38:09          0
118  2022-06-03 08:12:51          0
119  2022-06-03 08:14:53          0

[120 rows x 7 columns]

In [7]:
summed = preExistActivity.groupby(['user_id']).sum()
print(summed)

              id  article_id  duration  is_active
user_id
2705      504265    11740325    553000          0
3524     4077358    93529089   9660000          0
3526     2534061    58596513   7828000          0
3572     2693974    62179727   3737000          0

In [8]:
preExistActivity['Date'] = pd.to_datetime(preExistActivity['start_time'], utc=True)
preExistActivity['Date'] = preExistActivity["Date"].dt.normalize()
days = preExistActivity.groupby(["user_id"]).Date.nunique()
print(days)

user_id
2705    3
3524    8
3526    6
3572    4
Name: Date, dtype: int64